version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.13

    working_directory: /go/src/github.com/liftbridge-io/go-liftbridge
    steps:
      - checkout
      - run: sudo apt-get update -yqq && sudo apt-get install -yqq bzr
      - run: GO111MODULE=on go test -v ./... # Test v1
      - run: cd v2 && GO111MODULE=on go test -v ./... # Test v2
